body {
	background: #0b0b0b url(new_images/background.jpg) no-repeat top;
	margin: 0px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
    }
	body a {
	outline:none;
	}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #335358;
	text-align: left;
	vertical-align: top;
    }
	*:focus { outline:none;}
div, ul, li, a, table, td, tr, span, p { position:relative; padding:0; margin:0;}
center { height:100%;}
a {
	color: #F0F0F0;
	text-decoration: none;
}
a:hover {color: orange;}

@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url('http://themes.googleusercontent.com/static/fonts/metamorphous/v1/wGqUKXRinIYggz-BTRU9enhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

img {border: none;}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	border:solid 1px #070707;
	background:#022229;
	color:#4e4e4e;
	margin: 1px 0px 5px 0px;}

input[type='text'], input[type='password'], input[type='input'] {
	width: 320px; height:33px;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	-moz-box-shadow:inset 0 -1px 0 #23201c, 0 0 3px #000, inset 0 0 1px rgba(255,255,255,.05);
    -webkit-box-shadow:inset 0 -1px 0 #23201c, 0 0 3px #000, inset 0 0 1px rgba(255,255,255,.05);
    box-shadow:inset 0 -1px 0 #000000, 0 0 3px #000, inset 0 0 1px rgba(0,0,0,.05);
	border: none;
	margin: 0 0 4px 0;
	color:#4c4038;
	padding: 0 10px 2px 10px;
	background: -moz-linear-gradient(top,  #021b21 0%, #010a0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#180a01), color-stop(100%,#131211)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #180a01 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #180a01 0%,#131211 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #180a01 0%,#131211 100%); /* IE10+ */
	background: linear-gradient(top,  #180a01 0%,#131211 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
	}
	
	input[type='text']:focus, input[type='password']:focus {
	-moz-box-shadow:inset 0 -1px 0 #180a01, 0 0 3px #000, inset 0 0 1px rgba(255,255,255,.05);
    -webkit-box-shadow:inset 0 -1px 0 #23201c, 0 0 3px #000, inset 0 0 1px rgba(255,255,255,.05);
    box-shadow:inset 0 -1px 0 #23201c, 0 0 3px #000, inset 0 0 1px rgba(255,255,255,.05),inset 0 0 5px rgba(246,148,82,.2);
	}

select {
	width: auto;
	min-width:220px;
	display:inline-block;
	padding: 8px 10px 8px 0;
	background: -moz-linear-gradient(top,  #1c1b1a 0%, #131211 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1b1a), color-stop(100%,#131211)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* IE10+ */
	background: linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.05);
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.05);
    box-shadow:inset 0 0 3px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.05);
	border: none;
	margin: 0 0 4px 0;
	color:#4c4038;
	}

input[type='submit'], button, input[type='button'] {
	display:inline-block;
	width:auto; height:43px;
	border: none;
	font-family: 'Metamorphous', cursive;
	font-size:13px; text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255,255,255,.05);
	color:#0b0601;
	padding: 0 15px 0 15px;
	cursor: pointer;
	background-position: 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:;
    -webkit-box-shadow:;
    box-shadow:inset 0 0 1px rgba(255,255,255,.1),inset 0 -1px 0 #1c3336, 0 0 3px #000, 0 1px 0 #000;
	background: #1c3336; /* Old browsers */
	background: -moz-linear-gradient(top,  #1c3336 0%, #1c3336 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c8eae), color-stop(100%,#0c8eae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0c8eae 0%,#0c8eae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0c8eae 0%,#0c8eae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0c8eae 0%,#0c8eae 100%); /* IE10+ */
	background: linear-gradient(top,  #0c8eae 0%,#0c8eae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8eae', endColorstr='#0c8eae',GradientType=0 ); /* IE6-9 */
	}
	
	input[type='submit']:hover, button:hover, input[type='button']:hover {
	color:#ffc17f;
	text-shadow: 0 1px 0 rgba(0,0,0,.9);
    box-shadow:inset 0 0 1px rgba(255,255,255,.1),inset 0 -1px 0 #122123, 0 0 3px #000, 0 1px 0 #000;
	background: #122123; /* Old browsers */
	background: -moz-linear-gradient(top,  #122123 0%, #122123 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#076e88), color-stop(100%,#076e88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #076e88 0%,#076e88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #076e88 0%,#076e88 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #076e88 0%,#076e88 100%); /* IE10+ */
	background: linear-gradient(top,  #076e88 0%,#076e88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#076e88', endColorstr='#076e88',GradientType=0 ); /* IE6-9 */
	}

.button {
	padding: 3px;
	cursor: pointer;
    }
.button:active {
	background-image: url(./images/table_bg_light.png);
}


strong.error {
color: #FF0000;
}

#container {
width:964px;
}
	
#header {
	position:relative;
	width:964px; height:560px;
	margin: 0;
	z-index:99999;
}



.logo {
	width:350px; height:100px;
	background:url(new_images/);
	display:block;
	top:385px; left:0px;
	}

.logo1 {
	width:35px; height:35px;
	background:url(new_images/face1.png);
	display:block;
	top:-160px; left:525px;
	}

.logo1:hover {
	background:url(new_images/face1hov.png);
	top:-161px;
}

.logo2 {
	width:35px; height:35px;
	background:url(new_images/yt1.png);
	display:block;
	top:-158px; left:500px;
	}

.logo2:hover {
	background:url(new_images/yt1hov.png);
	top:-159px;
}


.menu {
	width:964px;
	height:68px;
	top:5px;
	margin-left:-120px;
	align:left;
}

	  .menu ul {list-style: none; height:67px;}
	  
	  .menu li {display:inline-block; margin:0 -2px 0 -1px;}
	  
	  .menu li a {
	  display:inline-block;
	  font-family: 'Metamorphous', cursive;
	  font-size:13px;
	  padding:30px 35px 30px 35px;
	  color:#0099a7;
	  text-shadow: 0 1px 0 #000, 0 0 3px #000, 0 0 3px #000;
	  -moz-box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #0b1719;
      -webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #0b1719;
      box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #0b1719;
	  }
	  .menu li a:hover {
	  color:#ff9d34;
	  background:rgba(0,0,0,0.2);
	  }
	  
	  .menu li:last-child a {
	  -moz-box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #000, inset -1px 0 0 rgba(255,255,255,.05), 1px 0 0 #000;
      -webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #000, inset -1px 0 0 rgba(255,255,255,.05), 1px 0 0 #000;
      box-shadow:inset 1px 0 0 rgba(255,255,255,.05), -1px 0 0 #000, inset -1px 0 0 rgba(255,255,255,.05), 1px 0 0 #000;
	  }
	  

 

.body_holder {
	width:964px; height:auto; top:px;
	}

.footer {
	position:relative;
	width:985px; height:190px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	margin:10px 0px 0px 0px;
	padding: 0px 0px 30px 3px;
	text-shadow:#000 0 1px 0px;
	background:url(new_images/footer.jpg);
	left:-12px;
    }
	.footer td {
	font-family:Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color:#39a0b0;
	padding:30px 0 0 0;

	}
	.footer td a { color:#75491a;}
	.footer td a:hover { color:#f1c878;}
	
	.f_menu { color:#100800; !important; text-align:right;}
	.f_menu a {
	font-size:11px;
	text-transform:uppercase;
	display:inline-block;
	top:-1px;
	left:-20px;
	padding: 15px 10px 0px 10px;
	color:#39a0b0 !important;
	}
	.f_menu a:hover { color:#f1c878 !important;}


#sidebar a {
	display: block;
	line-height: 20px;
	background: url(./images/button.png) center no-repeat;
	padding-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#sidebar a:hover {
	background-image: url(./images/button_hover.png);
}
#sidebar a:active {
	background-image: url(./images/button_down.png);
}
.sidebarone a {
	display: block;
	background: url(./images/button.png) center no-repeat;
	padding-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.sidebarone a:hover {
	background-image: url(./images/button_hover.png);
}
.sidebarone a:active {
	background-image: url(./images/button_down.png);
}
#main_side {
padding: 2px 8px 0 0px;
top:-256px;
}

.post {
width:660px;
background:#010e11;
margin: 0px 0 0 0;
left:304px;
top:0px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
}
.post_header {
	font-weight: bold;
	width:660px;
	height:72px;
	top:0px;
	background:url(new_images/news_head_open.png);
    }
	.post_header a {
	color:#986b43;
	text-shadow:#000 0px 0px 2px;
	outline: none;
	padding: 11px 0 0 12px;
	}
	.post_header a:hover {
	color:#707070;
	}
	.post_header span a {
	padding: 0;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 12px 0 0 0;
	color:#986b43;
	}
.post_body {
	width:640px;
	top:-0px;
	color:#335358;
	padding:10px 10px 30px 10px;
	text-shadow: 0 0 3px #000, 0 1px 0 #000;
	font-size:12px;
    }
	.post_body a {
    color:#3ec6d2;
	text-shadow:#0f0f0f 0px 0px 2px;
	outline: none;
	}
	.post_body a:hover {
	color:#707070;
	}
	.post_body td {
	color:#986b43;
	font-weight: bold;
	}
	.post_body3 {
	position:relative;
	padding:5px;
	width:650px;
	left:1px;
	top:-4px;
	color:#986b43;
	text-shadow:#0f0f0f 0px 0px 3px;
	text-align:justify;
	}
	.post_body3 a {
    color:#986b43;
	text-shadow:#0f0f0f 0px 0px 2px;
	outline: none;
	}
	.post_body3 a:hover {
	color:#986b43;
	}
	.post_body3 td {
	color:#986b43;
	font-weight: bold;
	}


.news_title {
	font-family: 'Metamorphous', cursive;
	color:#ffc17f;
	font-size:12px;
	padding:12px 0 0 14px;
	width:600px;
	text-shadow: 0 0 3px #000, 0 1px 0 #000;
	}

	
#news_info {
	position:absolute;
	width:640px;
	top:-23px; left:10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#986b43;
	font-style:oblique;
	text-shadow: 0 0 3px #000, 0 1px 0 #000;
	}
	#news_info p { float:right;}
#news_admin {
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:999;
	}
	
	
/* Slider */	
#slider_holder {
	width:660px; height:257px;
	z-index:99999;
	left:152px;
	}
	.slider_frame {
	width:660px; height:257px;
	background:url(new_images/slider_frame.png) no-repeat;
	position:absolute; top:-5px; left:0;
	z-index:99999;
	-webkit-border-radius: 4px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	pointer-events: none;
	-moz-box-shadow:;
    -webkit-box-shadow:;
    box-shadow: 0 0 0px #000, 0 0 0px #000;
	}
/* Easy Slider */

	#slider ul, #slider li {
		margin:0; padding:0;
		list-style:none;
		}
	#slider2{}
	#slider li, #slider2 li{
		width:654px; height:247px;
		overflow:hidden; 
		-webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:10px;
		top:105px;
		z-index:999999;
		}	
	#nextBtn, #slider1next{ 
		left:602px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:48px;
		height:48px;
		background-image:url(new_images/slider_ctr.png);
		background-color:transparent;
		text-indent:-8000px;
		}
		#prevBtn a { background-position: 0 -48px;}
		#prevBtn a:hover {background-position: 0 0;}
		
		#nextBtn a {background-position: -48px -48px;}
		#nextBtn a:hover {background-position: -48px 0;}
		
	
/* // Easy Slider */

.post_body p {
	margin-top: 0px;
	margin-bottom: ;
}



.avatar {
	background: url(./images/wowhead/icon_border_large.png) center no-repeat;
	margin: 4px; border: solid 1px #CC6600
}

.q {
	color: #ffd100;
}
.q0, .q0 a {
	color: #9d9d9d;
}
.q1, .q1 a {
	color: #ffffff;
}
.q2, .q2 a {
	color: #1eff00;
}
.q3, .q3 a {
	color: #0070dd;
}
.q4, .q4 a {
	color: #a335ee;
}
.q5, .q5 a {
	color: #ff8000;
}
.q6, .q6 a {
	color: #e5cc80;
}
.q7, .q7 a {
	color: #ff0000;
}
.q8, .q8 a {
	color: #ffff98;
}

.label {
	display: block;
	line-height: 20px;
	width: 130px;
	padding-left: 0px;
	text-align: left;
	background: url(./images/label.png) center no-repeat;
}

.spacer {
	padding:3px;
}
.colorbad{
	color:#C00;
}
.colorgood{
color:#060;
}


.sidebar {
width:296px;
padding: 2px 0 0 0px;
}
.side-r {
width:287px;
padding: 0 2px 0 0;
top:6px;
margin-left:-668px;
}

.sidebar_box {
	position:relative;
	width:296px;
	background:#0c0500;
	margin: 0 0 8px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
    }
	.sidebar_box_head {
	width:296px; height:37px;
	background:url(new_images/sidebar_box_head.png);
	color:#ffc17f;
	text-shadow:0px 0px 3px #000, 0 1px 0 #000;
	font-size:12px;
	font-family: 'Metamorphous', cursive;
	}
	.sidebar_box_head p {
	padding: 10px 0 0 12px;
	}

	
	.sidebar_box_cont {
	position:relative;
	background:#010e11;

	color:#4e4845;
	text-shadow:#000000 1px 1px 0px;
	padding:4px 5px 5px 5px;
	}
		 .membership a {
		 position:relative;
		 display:inline-block;
		 padding: 1px 1px;
		 margin:0px;
		 color:#4e5758;
		 font-size:11px;
		 }
		 .membership a:hover {
		 color:#7d7d7d;
		 }
		 .membership input[type='text']  {
	     width:266px;
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -1px, -moz-linear-gradient(top,  #021b21 0%, #010a0c 100%) ; /* FF3.6+ */
		 background:url(new_images/membership_inp_text.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1b1a), color-stop(100%,#131211)); /* Chrome,Safari4+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -1px, -webkit-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -1px, -o-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Opera 11.10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -1px, -ms-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* IE10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -1px, linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* W3C */
		 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
		 }
		  .membership input[type='password'] {
	     width:266px;
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, -moz-linear-gradient(top,  #021b21 0%, #010a0c 100%) ; /* FF3.6+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1b1a), color-stop(100%,#131211)); /* Chrome,Safari4+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, -webkit-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, -o-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Opera 11.10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, -ms-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* IE10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -41px, linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* W3C */
		 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
		 }
		 
		 .membership input[type='text']:focus {
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -77px, -moz-linear-gradient(top,  #021b21 0%, #010a0c 100%) ; /* FF3.6+ */
		 background:url(new_images/membership_inp_text.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1b1a), color-stop(100%,#131211)); /* Chrome,Safari4+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -77px, -webkit-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -77px, -o-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Opera 11.10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -77px, -ms-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* IE10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -77px, linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* W3C */
		 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
		 }
		 .membership input[type='password']:focus {
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -117px, -moz-linear-gradient(top,  #021b21 0%, #010a0c 100%) ; /* FF3.6+ */
		 background:url(new_images/membership_inp_text.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1b1a), color-stop(100%,#131211)); /* Chrome,Safari4+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -117px, -webkit-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Chrome10+,Safari5.1+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -117px, -o-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* Opera 11.10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -117px, -ms-linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* IE10+ */
		 background:url(new_images/membership_inp_text.png) no-repeat 219px -117px, linear-gradient(top,  #1c1b1a 0%,#131211 100%); /* W3C */
		 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1b1a', endColorstr='#131211',GradientType=0 ); /* IE6-9 */
		 }

		 .membership #links {
			 padding: 5px 0 0 25px;
			 text-align:right;
		}

	
.realm-st {
	width:296px;
	height:113px;
	background:url(new_images/realm_st_box.png);
	margin: 0 0 8px 0;
    }
	
	.online-s, .offline-s {
	background-image:url(new_images/status.png);
	left:-250px;
	top:11px;
	}
	
    .r_status {
	width:29px; height:29px;
	background-position: 0 0;
	display:inline-block;
	right:3px;
	top:3px;
	position:absolute;
	}
	.online-s {
	width:29px; height:29px;
	background-position: 0 0;
	}
	.offline-s {
	width:29px; height:29px;
	background-position: 0 -29px;
	}
	
	.r_name_desc {
	display:inline-block;
	font-size:13px;
	color:#fc8200;
	left:50px;
	top:20px;
	text-shadow: 0 1px 0 #000, 0 0 4px #000;
	font-family: 'Metamorphous', cursive;
	}
	.r_name_desc p {
	width:100%; height:25px;
	display:block;
	position:absolute;
	top:-4px; z-index:999;
	}
	
	.r-st-d {
	position:absolute;
	width:95%;
	top:83px; left:8px;
	color:#d67a31;
	text-shadow: 0 0 4px rgba(0,0,0,1), 0 1px 0 rgba(0,0,0,.5);
	}
	
	.r_scale {
	position:absolute;
	width:229px; height:19px;
	top:81px; left:32px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	overflow:hidden;
	}
	.r_scale span { display:inline-block; height:19px;}
	.r_scale span p {
	padding:2px 5px 0 5px;
	color:#6d6d6d;
	text-shadow: 0 1px 0 #000, 0 0 3px #000;
	}
	
	.r_scale .rs_a {
	background:url(new_images/scale_a.gif) no-repeat left;
	text-align:left;
	-moz-box-shadow: inset -1px 0 0 #000;
	-webkit-box-shadow: inset -1px 0 0 #000;
	box-shadow: inset -1px 0 0 #000;
	}
	.r_scale .rs_h {
	background:url(new_images/scale_h.gif) no-repeat right;
	text-align:right;
	}
	
	
.realmlist {
	position:relative;
	background:url(new_images/images-r.png) -553px -359px no-repeat;
	width:274px; height:25px;
	padding: 3px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	top:-8px;
	text-shadow:#000000 0px 0px 1px;
	color:#595959;
    }
	
/* Arena Top Teams */

.arena_top_teams {
	padding:0 !important;
	}
	
	.arena_top_teams ul {}
	.arena_top_teams ul li {
	-moz-box-shadow:inset 0 1px 0 #181616, 0 -1px 0 #060708;
	-webkit-box-shadow:inset 0 1px 0 #181616, 0 -1px 0 #060708;
	box-shadow: inset 0 1px 0 #181616, 0 -1px 0 #060708;	
	}
	.arena_top_teams ul li:first-child {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}
	.arena_top_teams ul li span {
		display:inline-block;
		padding:6px 0 6px 4px;
		-moz-box-shadow:inset 1px 0 0 #181616, -1px 0 0 #060708;
	    -webkit-box-shadow:inset 1px 0 0 #181616, -1px 0 0 #060708;
	    box-shadow: inset 1px 0 0 #181616, -1px 0 0 rgba(0,0,0,.4);
	    }
		.arena_top_teams ul li .number { width:22px; text-align:center; color:#595752;}
		.arena_top_teams ul li .t_name { width:120px; text-align:left; color:#595752;}
		.arena_top_teams ul li .t_rating { width:60px; text-align:center; color:#595752;}
		.arena_top_teams ul li .t_faction { width:50px; text-align:right;}
	
	.arena_top_teams ul li#head { background:rgba(0,0,0,.2);}
	.arena_top_teams ul li#head span { color:#464441;}
	
.info { font-size:12px;}
	
	
	
#page {width:964px; z-index:9999;}
#page2 {width:964px; z-index:9999;}
.post2 {
	width:964px;
	background:#151313;
	margin: 0 0 3px 0;
	top:-6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	overflow: hidden;
    }
    .post_header2 {
	font-size:19px;
	text-transform: uppercase;
	height:55px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.03), 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.03), 0 0 10px rgba(0,0,0,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.03), 0 0 10px rgba(0,0,0,.4);
	background:#010a0c;
	color:#0099a7;
	text-shadow: 0 1px 0 #000;
	font-family: 'Metamorphous', cursive;
    }
	.post_header2 div {
	width:600px; height:20px;
	padding: 14px 0 0 14px;
	}
	.post_header2 div p {
	display:block;
	position:absolute;
	z-index:999;
	bottom:-3px; left:0;
	width:100%; height:25px;
	}
	
    .post_body2 {
	padding: 50px;
	background:#010e11;
    }
.post4 {
    }
	.post_body4 {
	}
.account_info_holder {
	width:600px;
	left:50%;
	margin: 0 0 0 -300px;
	}
.acc-info-box {
    position:relative;
	width:600px;
	background:rgba(255,255,255,.055);
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow:#111111 1px 0px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
    }
.sub-box1 {
	position:relative;
	width:560px;
	background:rgba(255,255,255,.055);
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow:#111111 1px 0px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
    }
	.sub-box1 a {
    position:relative;
	display:inline-block;
	padding: 1px 1px;
	margin:0px;
	color:#545454;
	font-size:11px;
	font-weight:bold;
	}
	.fix1 { width: auto !important; height:auto !important; margin:0px !important;}
    .sub-box1 label {
	padding: 2px;
	}
	.bord1 {
	padding: 5px 5px 5px 5px;
	border:solid 1px #252525;
	width:200px;
	}
	.sub-box1 td {
	color:#666;
	text-shadow:#111111 1px 0px 0px;
	}
.sub-box2 {
	position:relative;
	width:430px;
	background:#1e1e1e;
	border:solid 1px #171717;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-shadow:#111111 1px 0px 0px;
    }
	.sub-box2 a {
    position:relative;
	display:inline-block;
	padding: 1px 1px;
	margin:0px;
	color:#545454;
	font-size:11px;
	font-weight:bold;
	}
	.sub-box2 a:hover {
	color:#7d7d7d;
	}

    .sub-box2 label {
	padding: 2px;
	}
	.sub-box2 td {
	color:#666;
	text-shadow:#111111 1px 0px 0px;
	}	
.acc-b-m {
	position:relative;
	padding:0px;
	margin: 0px 0px 11px 0px;
	display:inline-block;
	width:280px;
    }
	.acc-b-m:hover {
	background:url(new_images/images-r.png) -547px -397px no-repeat;
	}
	.acc-b-m img {
	position:relative;
	top:-3px;
	}
	.acc-b-m a {
	position:relative;
	display:inline-block;
	padding: 4px 0px 3px 0px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#6a6a6a;
	font-size:12px;
	text-shadow:#000 0px 0px 3px;
	outline: none;
	}
	.acc-b-m a:hover {
	color:#f0d01d;
	}
	.acc_b_de {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#515151;
	}
.donate_banner_button {
	position:relative;
	margin: 1px 0px 85px 11px;
    } 
	.donate_banner_button ul {
	margin:0px;
	padding:0px;
	}
	.donate_banner_button li {
	position:relative;
	background:url(new_images/images-r.png) -2px -720px no-repeat;
	width:459px;
	height:63px;
	list-style: none;
	}
	.donate_banner_button li:hover {
	background:url(new_images/images-r.png) -2px -656px no-repeat;
	}
	.donate_banner_button li a {
	display:inline-block;
	width:459px;
	height:63px;
	outline: none;
	}
.voteshop1 {
	position:relative;
	width:680px;
	}
    .small_box_1 {
	position:relative;
	width:150px; padding: 6px 5px 8px 5px;
	background:rgba(0,0,0,.5);
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#494949;
	text-shadow:#000 1px 1px 0px;
    }
.new_vote_searchdiv {
	width:680px;
	background:rgba(255,255,255,.055);
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow:#111111 1px 0px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	box-shadow: 0 0 1px rgba(0,0,0,.7), inset 0 0 1px rgba(255,255,255,.1);
	}

	.new_vote_searchdiv select {
	}
	.searc-inp { position:relative; display:inline-block; }
	#log-b3 {position:relative; display:inline-block;}
	#log-b3 input {position:relative; height:34px; top:1px; z-index:99999;}
	
	 #itng {
		 position:relative;
		 height:20px;
		 font-family:Arial, Helvetica, sans-serif;
		 padding: 2px 0px;
		 background:#212121;
		 border: solid 1px #141414;
	     }
		 #in1 {
		 position:relative;
		 background:#212121;
		 border: solid 1px #141414;
		 padding: 4px 5px;
		 color:#666;
		 font-family:Arial, Helvetica, sans-serif;
		 }
		 #ic1 {
		 position:relative;
		 background:#212121;
		 border: solid 1px #141414;
		 border-left:none;
		 padding: 4px 5px;
		 color:#666;
		 font-family:Arial, Helvetica, sans-serif;
		 }
		 #ib1 {
		 position:relative;
		 background:#212121;
		 border: solid 1px #141414;
		 border-left:none;
		 padding: 4px 5px;
		 color:#666;
		 font-family:Arial, Helvetica, sans-serif;
		 }
	     #s7233s {
		 padding:2px 5px;
		 color:#666;
		 font-family:Arial, Helvetica, sans-serif;
	     }
.content {}
.content ul { list-style: none; margin:0px 0px; }
.sb_message {
	     position:relative;
		 width:282px;
         }
         .sb_comme {
		 position:relative;
		 width:277px;
		 height:19px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:11px;
		 padding: 2px 0px 0px 5px;
		 color:#292929;
		 margin: 2px 0px 0px 0px;
		 }
		 .sb_te_comme {
		 position:relative;
		 width:278px;
		 padding:2px;
		 text-align:justify;
		 color:#3c3c3c;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:11px;
		 }
		 .sb_m_date {
		 position:relative;
		 float:right;
		 display:inline-block;
		 left:-5px;
		 top:2px;
		 }
.adv1ad_b {
	     position:relative;
		 margin:10px 0px 0px 5px;
         }
		 .adv1ad_b ul {padding: 0px; margin:0px;}
		 .adv1ad_b li {
		 list-style: none;
		 display:inline-block;
		 width:285px; height:58px;
		 background:url(new_images/images-r.png) -550px -207px no-repeat;
		 cursor: pointer;
		 }
		 .adv1ad_b li:hover {
		 background:url(new_images/images-r.png) -550px -265px no-repeat;
		 }
		 .adv1ad_b li a { display:inline-block; width:285px; height:58px; outline: none; }
.c_butt {
	position:relative;
	width:286px;
	height:32px;
	margin: 25px 0px 4px 0px;padding:0px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.7);
    box-shadow: 0 0 5px rgba(0,0,0,.7);
	left: 4px;
    }
	.c_butt ul {
	position:relative;
	margin:0px;
	padding:0px 0px 0px 0px;
	list-style: none;
	}
	.c_butt li {
	display: block;
	margin: 0px 0px 0px 0px !important;
	padding:0px !important;
	list-style:none !important;
	float:left;
	height:32px;
	}
	.c_butt li a { display:block; padding:0px !important; margin:0px !important; }
	#facebook a {
	width:93px;
	height:32px;
	background:url(new_images/images-r.png) -463px -689px no-repeat;
	padding:0px !important;
	}
    #facebook a:hover {
	background:url(new_images/images-r.png) -463px -656px no-repeat;
	}
	#twitter a {
	width:94px;
	height:32px;
	background:url(new_images/images-r.png) -556px -689px no-repeat;
	padding:0px !important;
	}
	#twitter a:hover {
	background:url(new_images/images-r.png) -556px -656px no-repeat;
	}
    #youtube a {
	width:99px;
	height:32px;
	background:url(new_images/images-r.png) -650px -689px no-repeat;
	padding:0px !important;
	margin:0px !important;
	}
    #youtube a:hover {
	background:url(new_images/images-r.png) -650px -656px no-repeat;
	}
.donation_goal {
	 position:relative;
	 width:292px; height:80px;
	 background:url(new_images/images-r.png) -604px -458px no-repeat;
	 padding:0px 0px 0px 0px;
	 margin:0px 0px 0px 1px;
     }
	 .d_goal_title {
	 position:relative;
	 width:279px;
	 height:22px;
	 color:#d6a92f;
	 font-family:Arial, Helvetica, sans-serif;
	 padding: 10px 0px 0px 15px;
	 }
	 .d_goal_content {
	 position:relative;
	 width:280px;
	 height:40px;
	 margin:0px 0px 0px 4px;
	 padding:2px;
	 }

.prog-border {
	 height: 36px;
	 width: 429px;
	 background: url(./images/progbarbg.png) center no-repeat;
	 line-height: 30px;
	 margin: 3px auto;
	 z-index: 1;
	 color:#d6a92f;
	 font-weight:bold;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:13px;
     }
  
.prog-text {
	text-align: center;
	display: block;
	line-height: 20px;
}


.progress	{
	background: url(./images/progbar.png) center ;
display: block;
height: 36px;
margin: -30px 0px auto 0px;
z-index: 2;
}

#fix66 {
	position:relative;
	padding: 5px;
    }
#log-b4 a {
	position:relative;
	background:url(new_images/images-r.png) -241px -93px no-repeat;
	color:#4a473f;
    font-weight:bold;
	text-shadow: #fad820 1px 1px 0px;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:7px 7px 8px 7px;
	display:inline-block;
	border olid 1px #131313;
    }
	#log-b4 a:hover {border olid 1px #ffc738;}

.sidebar_box7 {
	top:-1px;
	width:296px;
	margin-left:-668px;
}

.sidebar_box_cont butt {
	top:0px;
}

#log-b2 {
	margin-top:5px;
}

.top_ranked1 {
	width:303px; height:128px;
	background:url(new_images/howbig.png);
	display:block;
	position:absolute;
	z-index:99999;
	top:-262px; left:1px;
	}

.top_ranked1:hover {	background:url(new_images/howbighov.png); }


.bug_track1 {
	width:303px; height:129px;
	background:url(new_images/teambig.png);
	display:block;
	position:absolute;
	z-index:99999;
	top:-134px; left:1px;
	}

.bug_track1:hover {	background:url(new_images/teambighov.png); }